.hidden{display:none}
.btn_wrap{display:flex;width:100%;margin:3px 0 0 0}
input[type=submit]{width:100%}
input[type=button]{width:100%}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.pub_date{margin-bottom: 20px;font-size: 1.5em;font-weight: bold;}
/* 콘텐츠 메뉴*/
ul.row_menu{
    width:100%;
    height:100%;
    overflow-x:auto;
    display:flex;
    flex-direction:row;
}
ul.row_menu li{
    width:20%;
    height:calc(100% - 2px);
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #555555;
    border-right:none;;
}
ul.row_menu li:hover,
ul.row_menu li.on{
    background:#555555;
    cursor:pointer;
    font-weight:bold;
}
ul.row_menu li:last-child{border-right:1px solid #555555;}
/* 콘텐츠 입력창 */
.input-box{width:100%;height:100%;}
.input-box .searchText{width:calc(100% - 8px);padding:8px 0 8px 8px}

/* 입력창 테이블1 */
.input-box > .tb-base{width:100%;height:100%;color:#fff}
.input-box > .tb-base th, .tb-base td{padding:5px;color:#fff}
.input-box > .tb-base th{text-align:left}
.input-box > .tb-base td > input[type=number]{width:calc(100% - 40px);padding:0;padding-right:10px;background:transparent;border-bottom:1px solid #555555;font-weight:bold;font-size:1.1em;color:#fff}
.input-box > .tb-base td > input[type=number]:focus{border-bottom-color:#368AFF;}

/* 입력창 테이블2 */
.input-box > .tb-food {width:100%;height:calc(100% - 177px);display:flex;flex-flow: column;background:#fff;}
.input-box > .tb-food thead {flex: 0 0 auto;width: calc(100% - 0.9em);border-bottom:1px solid #D5D5D5}
.input-box > .tb-food tbody {flex: 1 1 auto;display: block;overflow-y:auto;height:100%;}
.input-box > .tb-food tbody tr {width: 100%;}
.input-box > .tb-food thead, .tb-food tbody tr {display: table;table-layout: fixed;}
.input-box > .tb-food td, .tb-food th{width:15%;color:#000;text-align:center;height:30px;padding:5px 0}
.input-box > .tb-food input{width:70%;height:30px;padding:0;min-width:0;}
.input-box > .tb-food input[type=number]{text-align:right}
.input-box > .tb-food td:first-child, .tb-food th:first-child{width:35%;}


/* 대쉬보드 */
.result-wrap{width:100%;height:auto;position:absolute;top:0;left:30%;z-index:1000;background:#333333}

/* 유저 신체 정보 테이블 */
.result-wrap > .physical-box{width:calc(30% - 10px);height:50%;margin:0 10px 0 0;box-shadow:3px 3px 3px 3px #222222;padding:20px;background:transparent;float:left}
.result-wrap > .physical-box > .tb-base{width:100%;height:100%;color:#000}
.result-wrap > .physical-box > .tb-base th, .tb-base td{padding:5px;color:#fff}
.result-wrap > .physical-box > .tb-base th{text-align:left}
.result-wrap > .physical-box > .tb-base td > input[type=number]{width:calc(100% - 40px);padding:0;padding-right:10px;background:transparent;border-bottom:1px solid #555555;font-weight:bold;font-size:1.1em;color:#fff}
.result-wrap > .physical-box > .tb-base td > input[type=number]:focus{border-bottom-color:#368AFF;}

.result-wrap > .result-box{width:calc(70% - 80px);height:auto;margin:20px 10px;box-shadow:3px 3px 3px 3px #222222;padding:20px;position:relative;display:none;float:left}
.result-wrap > .result-box > .result-container{width:100%;height:100%;position:relative}
.result-wrap > .result-box > .result-container > .title{font-size: 1.2em;font-weight: bold;}
.result-wrap > .result-box > .result-container > .text-info{width:100%;height:auto;margin-top:10px;}
.result-wrap > .result-box > .result-container > .container{margin-top:10px;position:relative}
.result-wrap > .result-box > .result-container > .bullet-container1,
.result-wrap > .result-box > .result-container > .bullet-container2,
.result-wrap > .result-box > .result-container > .bullet-container3{width:100%;height:120px;}
.result-wrap > .result-box > .result-container > .circle-container{width:100%;height:600px;}

.hist-wrap{width:100%;height:auto;position:absolute;top:0;left:0;z-index:0;background:#333333}
.hist-wrap > .hist-box{width:calc(100% - 80px);height:auto;margin:20px 10px;box-shadow:3px 3px 3px 3px #222222;padding:20px;position:relative;display:none;}
.hist-wrap > .hist-menu{width:100%;height:52px;display:none}
.hist-wrap > .hist-box > .result-container > .hist-container{width:100%;height:600px;}


/* 결과창 테이블3 */
.result-wrap  > .result-box .tb-diet {width:100%;height:auto}
.result-wrap  > .result-box .tb-diet th{color:#A4DBf8;margin:0;padding:5px 0;border-bottom:1px solid #A4DBf8;}
.result-wrap  > .result-box .tb-diet td{color:#A4DBf8;text-align:center;margin:0;padding:5px 0;border-bottom:1px solid #A4DBf8;}

#tooltip{
    width:120px;
    height:auto;
    font-size:1em;
    color:white;
    background-color:rgba(25, 25, 25, 0.8);
    display:flex;
    flex-direction:column;
    justify-content: center;
    position:absolute;
    border-radius:3px;
    padding:2px 3px 8px 3px;
    margin: 0 auto 10px;
    top:8px;
}
#tooltip > p{
    display: flex;
    justify-content: center;
}
#tooltip.hidden{display:none;}
#tooltip:after{
    content: '';
    position:absolute;
    border-top:10px solid rgba(25, 25, 25, 0.8);
    border-right:8px solid transparent;
    border-left:8px solid transparent;
    bottom:-10px;
    left:45%;
}

.ui-autocomplete{overflow-y:auto;}
.info_ment{height:100%}