.hidden{display:none}
input[type=submit]{width:100%}
input[type=button]{width:100%}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

/* 콘텐츠 메뉴*/
ul.row_menu{
    width:100%;
    height:100%;
    overflow-x:auto;
    display:flex;
    flex-direction:row;
}
ul.row_menu li{
    width:20%;
    height:calc(100% - 2px);
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #555555;
    border-right:none;;
}
ul.row_menu li:hover,
ul.row_menu li.on{
    background:#555555;
    cursor:pointer;
    font-weight:bold;
}
ul.row_menu li:last-child{border-right:1px solid #555555;}


/* 콘텐츠 입력창 */
.input-box{width:100%;height:100%;}
.input-box .searchText{width:calc(100% - 8px);padding:8px 0 8px 8px}

/* 입력창 테이블1 */
.input-box > .tb-base{width:100%;height:100%;color:#fff}
.input-box > .tb-base th, .tb-base td{padding:5px;color:#fff}
.input-box > .tb-base th{text-align:left}
.input-box > .tb-base td > input[type=number]{width:calc(100% - 40px);padding:0;padding-right:10px;background:transparent;border-bottom:1px solid #555555;font-weight:bold;font-size:1.1em;color:#fff}
.input-box > .tb-base td > input[type=number]:focus{border-bottom-color:#368AFF;}

/* 입력창 테이블2 */
.input-box > .tb-food {width:100%;height:calc(100% - 177px);display:flex;flex-flow: column;background:#fff;}
.input-box > .tb-food thead {flex: 0 0 auto;width: calc(100% - 0.9em);border-bottom:1px solid #D5D5D5}
.input-box > .tb-food tbody {flex: 1 1 auto;display: block;overflow-y:auto;height:100%;}
.input-box > .tb-food tbody tr {width: 100%;}
.input-box > .tb-food thead, .tb-food tbody tr {display: table;table-layout: fixed;}
.input-box > .tb-food td, .tb-food th{width:15%;color:#000;text-align:center;height:30px;padding:5px 0}
.input-box > .tb-food input{width:70%;height:30px;padding:0;min-width:0;}
.input-box > .tb-food input[type=number]{text-align:right}
.input-box > .tb-food td:first-child, .tb-food th:first-child{width:35%;}


.ui-autocomplete{overflow-y:auto;}
.info_ment{height:100%}