/* 대쉬보드 */
.manage-header{width:calc(100% - 20px);height:48px;padding:10px;background:#368AFF;}
.manage-header .title{font-size:1.8em;color:#fff;font-weight:bold}
.manage-header .explain{font-size:1em;color:#fff}

/* 일일체크 결과창 */
.result-wrap{width:100%;height:100%;position:relative;background:}
.result-wrap .result-box{width:calc(50% - 20px);height:200px;box-shadow:3px 3px 3px 3px #222222;padding:5px;position:absolute;background:#fff}
.result-wrap #result-box1{top:0;left:0;}
.result-wrap #result-box2{top:220px;left:0;}
.result-wrap #result-box3{top:440px;left:0;}
.result-wrap #result-box4{width:calc(50% - 10px);height:auto;top:0;left:50%;}
.result-wrap .result-box .none-result{width:100%;height:100%;display:flex;align-items:center;justify-content:center;font-size:1.3em;font-weight:bold}

/* 결과창 그래프 */
.result-wrap > .result-box > .result-container{width:100%;height:auto;position:relative;color:#333}
.result-wrap > .result-box > .result-container > .title{font-size: 1.2em;font-weight: bold;}
.result-wrap > .result-box > .result-container > .text-info{width:100%;height:auto;margin-top:10px;}
.result-wrap > .result-box > .result-container > .container{margin-top:10px;position:relative}
.result-wrap > .result-box > .result-container > .bullet-container1,
.result-wrap > .result-box > .result-container > .bullet-container2,
.result-wrap > .result-box > .result-container > .bullet-container3{width:100%;height:120px;}
.result-wrap > .result-box > .result-container > .circle-container{width:100%;height:600px;}

/* 기록 표시 */
.hist-wrap{width:100%;height:auto;position:absolute;top:0;left:0;z-index:0;background:#333333}
.hist-wrap > .hist-box{width:calc(100% - 80px);height:auto;margin:20px 10px;box-shadow:3px 3px 3px 3px #222222;padding:20px;position:relative;display:none;}
.hist-wrap > .hist-menu{width:100%;height:52px;display:none}
.hist-wrap > .hist-box > .result-container > .hist-container{width:100%;height:600px;}

/* 식단체크 결과*/
.result-wrap  > .result-box .tb-diet {width:100%;height:auto}
.result-wrap  > .result-box .tb-diet th{color:#A4DBf8;margin:0;padding:5px 0;border-bottom:1px solid #A4DBf8;}
.result-wrap  > .result-box .tb-diet td{color:#A4DBf8;text-align:center;margin:0;padding:5px 0;border-bottom:1px solid #A4DBf8;}

/* 그래프 말풍선 */
#tooltip{
    width:120px;
    height:auto;
    font-size:1em;
    color:white;
    background-color:rgba(25, 25, 25, 0.8);
    display:flex;
    flex-direction:column;
    justify-content: center;
    position:absolute;
    border-radius:3px;
    padding:2px 3px 8px 3px;
    margin: 0 auto 10px;
    top:8px;
}
#tooltip > p{
    display: flex;
    justify-content: center;
}
#tooltip.hidden{
    display:none;
    content: '';
    position:absolute;
    border-top:10px solid rgba(255, 0, 0, 0.8);
    border-right:8px solid transparent;
    border-left:8px solid transparent;
    bottom:-10px;
    left:45%;
}
