.my-info{
    width:calc(30% - 20px);
}

.my-info .profile{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.profile .username{
    font-size: 1.3em;
    font-weight: bold;
}
.profile-detail div{
    border-bottom:1px solid #fff;
    padding:5px 0;
}


