/* 유저정보 공간 */
.user-info-wrap{width:calc(30% - 10px);height:100%;position: relative;margin:0 10px 0 0}

/* 신체정보 Box */
.physical-box{width:100%;height:auto;background:#fff;}
.physical-box .physical-box-header{width:calc(100% - 20px);height:40px;padding:10px;display:flex;flex-direction:row;align-items:center;background:#368AFF}
.physical-box .physical-box-header .tit-wrap{width:70%;color:#fff}
.physical-box .physical-box-header .tit-wrap p.tit{font-size:1.5em;font-weight:bold;}
.physical-box .physical-box-header .tit-wrap p.update{font-size:1em;}
.physical-box .physical-box-header .btn_wrap{width:30%;}
.physical-box .physical-box-header .btn_wrap input{background:#fff;color:#333;padding:0;border-radius:5px}
.physical-box .physical-box-header .btn_wrap input:hover{font-weight:bold}
.physical-box .physical-box-header .btn_wrap input.btn-physical-up{display:none;}

.physical-box .tb-base{width:calc(100% - 20px);height:calc(100% - 20px); padding:10px}
.physical-box .tb-base th, .tb-base td{padding:5px;color:#333333;text-align:right}
.physical-box .tb-base .update-text,
.physical-box .tb-base .btn-physical-up{display:none}
.physical-box .tb-base th{text-align:left}
.physical-box .tb-base td input[type=number]{width:75%;padding:0;margin-bottom:10px;background:transparent;border-bottom:1px solid #333;font-size:1.1em;color:#333333}
.physical-box .tb-base td input[type=number]:focus{border-bottom-color:#368AFF;font-weight:bold}

