/* logo */
.user-box{
    width:calc(100% - 20px);
    padding:0 10px;
    display:flex;
    flex-direction:column;
    background:#fff;
}

.user-box .logo{
    width:100%;
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    border-bottom:3px double #333333

}
.user-box .logo a{
    color:#000;
    font-size:2em;
    font-weight:bold;;
    padding:4px 0;
}
.user-box .logo a:hover{
    background:#fff;
}
.user-box .logo .ic_menu{display:none;}

/* 유저정보 Box */
.user-box .user-info{
    width:100%;
    padding:8px 0;
    color:#000;
    font-weight:bold;
    font-size:1.1em;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}
.user-box .user-info > div{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.user-box .user-info .btn_logout{
    padding:0 8px;
    background-color:#368AFF;
    display:flex;
    align-items:center;
    height:100%;
}

/* 신체정보 Box */
.physical-box{width:calc(100% - 20px);height:calc(100% - 20px);padding:10px;}
.physical-box .physical-box-header{width:100%;display:flex;flex-direction:row}
.physical-box .physical-box-header .tit{width:70%}
.physical-box .physical-box-header .btn_wrap{width:30%;display:flex;align-items:center}
.physical-box .physical-box-header .btn_wrap input{height:20px;background:#368AFF;color:#fff;padding:0}
.physical-box .physical-box-header .btn_wrap input:hover{font-weight:bold}

.physical-box .tb-base{width:100%;height:100%;color:#000}
.physical-box .tb-base th, .tb-base td{padding:5px;color:#fff}
.physical-box .tb-base .update-text,
.physical-box .tb-base .btn-physical-up{display:none}
.physical-box .tb-base th{text-align:left}
.physical-box .tb-base td input[type=number]{width:75%;padding:0 10px 0 0;margin-bottom:10px;background:transparent;border-bottom:1px solid #555555;font-weight:bold;font-size:1.1em;color:#fff}
.physical-box .tb-base td input[type=number]:focus{border-bottom-color:#368AFF;}

