{% load staticfiles %}
<script>
/* 메세지 DB 저장 및 화면출력 */
function chatting_save(speaker, username, contents){
    addMessage(speaker, username, contents);
    $.ajax({
        type: 'POST',
        url:"/save_chatting",
        dataType: 'text',
        data: {
            "speaker": speaker,
            "username": username,
            "contents": contents
        },
        success: function(response){},
        error: function(request, status, error) {
           alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
    });
    return false;
}

/* 메세지 채팅창에 추가 */
function addMessage(sender, name, message){
    var msg_box_len = $('#sentence .msg-box').length;

    var user_img = "{% static 'medibot/img/icon/ic_user.png' %}";
    var com_img = "{% static 'medibot/img/icon/ic_com.png' %}";
    var speechBubble = '<div class="msg-box ' + sender + ' mb_15" id="msg-box' + msg_box_len + '">';
    if( sender == 'user'){
        speechBubble += '<div class="profile-wrap"><img src="' + user_img + '"/></div>';
    }else{
        speechBubble += '<div class="profile-wrap"><img src="' + com_img + '"/></div>';
    }
    speechBubble += '<div class="content-wrap">';
    speechBubble += '<div class="name">' + name + '</div>';
    speechBubble += '<div class="content" id="content' + msg_box_len + '"></div>';
    speechBubble += '</div>';
    $('#sentence').append(speechBubble);

    $('#content' + msg_box_len).html(message);
    move_chat_scroll();
};

/* 채팅창 맨아래로 */
function move_chat_scroll(){
    /* var sentence_last_child = $(element);
    var scrollPosition = sentence_last_child.offset().top;
    $('#sentence').animate({scrollTop : scrollPosition}, 0); */
    $('#sentence').scrollTop($('#sentence')[0].scrollHeight);
};

/* 채팅에 기능 수행 */
function check_event(flag){
    /* flag==1 : 일일체크 , 2: 식단체크, 3: 기록조회 */
    if(flag == 1){
        physical_measure();
    }
    if(flag == 2){
        $('#foodFrm').show();
    }
    if(flag == 3){}
}

/* 이벤트 초기화 묶음 */
$(document).ready(function(){
    /* 입력 버튼 이벤트 */
    $('#input_message').on('keydown', function(e){
        if(e.keyCode == 13){
            if(e.shiftKey == true){
                var tmp = $('#input_message').val();
                tmp = tmp + "\n";
                $('#input_message').val(tmp)
            }else{
                $('#chatFrm').submit();
            }
            return false;
        }
    });

    /* 채팅 입력 */
     $('#chatFrm').submit(function(e){
        /* 새로 고침 방지 */
        e.preventDefault();

        /* 사용자 메세지 표시 */
        var input_msg = $('#input_message').val()
        $('#msg').val(input_msg);
        $('#input_message').val('');
        addMessage('user', '{{ user.username }}', input_msg, );

        /* 응답 요청 */
        $.ajax({
            type: 'POST',
            url:"/comunication",
            dataType: 'json',
            data: $('#chatFrm').serialize(),
            success: function(data, textStatus){
                 $.each(data, function(i, item){
                    addMessage(item.speaker, item.name, item.message);
                    var func = item.func;
                    if(func != ""){
                        func = func.replace(/(\s*)/g,"");
                        eval(func);
                    }
                 });
            },
            error: function(request, status, error) {
               alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
        return false;
    });
});
</script>


<!-- chatting -->
<div id="chat-wrap" class="chat-wrap">
    <form action="" method="post" name="chatFrm" id="chatFrm">
        {% csrf_token %}
        <input type="hidden" id="msg" name="msg" value=""/>

        <div id="chat-box" class="chat-box">
            <div id="sentence" class="sentence"></div>
            <div class="input-wrap">
                <textarea id="input_message" name="input_message" placeholder="Medi-BOT에게 물어보세요!"></textarea>
                <div class="ic_wrap">
                    <div class="img_back"><input type="image" src="{% static 'medibot/img/icon/ic_submit.png' %}" /></div>
                </div>
            </div>
        </div>
    </form>
</div>
