{% load staticfiles %}
<script>
$(document).ready(function(){
    {% if chatreport %}
        {% for report in chatreport %}
            addMessage('{{ report.speaker }}','{{ report.username }}','{{ report.contents }}');
        {% endfor %}
    {% else %}
        addMessage('com','Medi-BOT',"안녕하세요!!! 저는 메디봇이라고 해요~ '도움말'이라고 입력하시면 사용법을 알려드릴게요");
    {% endif %}
    $('#chat-close').on('click',function(){
        $('#chatFrm').css('display','none');
    })
});

</script>
<form action="" method="post" name="chatFrm" id="chatFrm">
    {% csrf_token %}
    <input type="hidden" id="msg" name="msg" value=""/>
    <div id="chat-wrap" class="chat-wrap">
        <div id="chat-header" class="chat-header">
            <div class="sub-tit">Medi-BOT</div>
            <div class="close" id="chat-close">x</div>
        </div>
        <div id="chat-box" class="chat-box">
            <div id="sentence" class="sentence"></div>
            <div class="input-wrap">
                <textarea id="input_message" name="input_message" placeholder="Medi-BOT에게 물어보세요!"></textarea>
                <div class="ic_wrap">
                    <div class="img_back"><input type="image" src="{% static 'medibot/img/icon/ic_submit.png' %}" /></div>
                </div>
            </div>
        </div>
    </div>
</form>