{% extends 'medibot/base.html' %}

{% block title %}
메디봇
{% endblock title %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'medibot/css/index.css' %}">
<link rel="stylesheet" href="{% static 'medibot/css/user-info.css' %}">
<link rel="stylesheet" href="{% static 'medibot/css/manage-page.css' %}">
<link rel="stylesheet" href="{% static 'medibot/css/chat.css' %}">
<script type="text/javascript" src="{% static 'medibot/js/libs/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'medibot/js/contents/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'medibot/js/contents/plot.js' %}"></script>
<script>
/* 화면 초기화 */
$(document).ready(function(){
    /* 채팅 초기화 */
    {% if chat_reports %}
        {% for report in chat_reports %}
            var contents = {{ report.contents.replace("\n","<br />") }}
            addMessage("{{ report.speaker }}","{{ report.username }}",contents);
        {% endfor %}
    {% endif %}

    {% if measure_report %}
        var category = ["체질량지수(BMI)", "복부비만도(WHR)", "기초대사량(kcal)"];
        var value = [{{ measure_report.bmi }},  {{ measure_report.whr }}, {{ measure_report.energy }}];
        var state = ['{{ measure_report.bmi_state }}', '{{ measure_report.whr_state }}', '{{ measure_report.energy_state }}'];
        var age = {{ physical_report.age }};
        var gender = {{ physical_report.gender }};
        // 결과 표시
        makeBullet(category, value, state, age, gender);
    {% endif %}

    {% if intake_food_report %}
        $('#result-box4').html('');
        var nutrition = ["섭취량(g)", "에너지(kcal)", "탄수화물(g)", "단백질(g)", "지방(g)",
                    "당류(g)", "나트륨(mg)", "클레스테롤(mg)", "포화지방(g)", "트랜스지방(g)"];

        var foodAry = new Array({{ intake_food_report.energy }}, {{ intake_food_report.gram }}, {{ intake_food_report.kcal }},
        {{ intake_food_report.carbohydrate }}, {{ intake_food_report.protein }}, {{ intake_food_report.fat }},
        {{ intake_food_report.sugars }}, {{ intake_food_report.salt }}, {{ intake_food_report.cholesterol }},
        {{ intake_food_report.saturatedfat }}, {{ intake_food_report.transfat }});

        var info = "<table class='tb-diet'>";
        info += "<tr>";
        for(var i=0; i < nutrition.length; i++){
            info += "<th>" + nutrition[i];
        }
        info += "<tr>";
        for(var i=1; i < foodAry.length; i++){
            info += "<td>" + foodAry[i].toFixed(2);
        }
        var resultBox = $('#empty-result-container').clone().show().attr("id","");
        resultBox.find('.title').html("<h4>{{ user.username }}님이 오늘 섭취하신 음식의 영양정보입니다.</h4>");
        resultBox.find('.text-info').html(info);
        resultBox.find('.container').addClass('circle-container').addClass('circle-container1');
        $('#result-box4').append(resultBox);
         var flag = false;
        drawCircleChart(foodAry, "div.circle-container1", flag);
    {% endif %}

    /* 채팅창 스크롤 제일 아래로 */
    move_chat_scroll();
});
</script>
{% endblock head %}

{% block chatbot %}
{% include 'medibot/chat.html' %}
{% endblock chatbot %}

{% block userspace %}
{% include 'medibot/user_info.html' %}
{% endblock userspace %}

{% block dashboard_contents %}
{% include 'medibot/manage_page.html' %}
{% endblock dashboard_contents %}



