{% extends 'medibot/base.html' %}

{% block title %}
메디봇
{% endblock title %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'medibot/css/index.css' %}">
<link rel="stylesheet" href="{% static 'medibot/css/chat.css' %}">
<script type="text/javascript" src="{% static 'medibot/js/libs/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'medibot/js/contents/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'medibot/js/contents/plot.js' %}"></script>


{% endblock head %}

{% block subtitle %}
{{ user.username }}님의 오늘은?
{% endblock subtitle %}

{% block result %}
<!-- 결과 콘텐츠 , 동적 추가를 위한 빈 틀 -->
<div id="empty-result-container" class="result-container" style="display:none">
    <div class="title"></div>
    <div class="text-info"></div>
    <div class="container">
        <div id="tooltip" class="hidden">
            <p class="text1"></p>
            <p class="text2"></p>
        </div>
    </div>
</div>

<!-- 측정결과 표시 -->
<div class="result-wrap">
    <!-- 일일체크 측정결과 표시 -->
    <div class="result-box" id="result-box1">
        <div class="pub_date" id="measure_date"></div>
    </div>
    <!-- 식단체크 측정결과 표시 -->
    <div class="result-box" id="result-box2"></div>
</div>

<!-- 기록결과 표시 -->
<div class="hist-wrap">
    <!-- 기록표시 구분 메뉴 -->
    <div class="hist-menu">
        <ul id="hist-menu" class="row_menu">
            <li id="hist1">체질량지수(BMI)</li>
            <li id="hist2">복부비만도(WHR)</li>
            <li id="hist3">기초대사량(kcal)</li>
        </ul>
    </div>
    <div class="hist-box" id="hist-box1"></div>
    <div class="hist-box" id="hist-box2"></div>
</div>
{% endblock result %}


{% block input %}
<!-- 입력창 -->
<div class="contents_wrap">
    {% include 'medibot/chat.html' %}
    {% include 'medibot/input_page.html' %}
</div>
{% endblock input %}


