{% extends 'medibot/base.html' %}

{% block title %}
메디봇
{% endblock title %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'medibot/css/index.css' %}">
<script type="text/javascript" src="{% static 'medibot/js/libs/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'medibot/js/contents/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'medibot/js/contents/plot.js' %}"></script>
<script>
function funcInit(){
    // 최초 초기화
    $('#content-box1').show();
    $('.result-box').hide();
    $('#result-box1').show();

    {% if physical_report %}
        $("input:radio[name ='gender']:input[value='{{ physical_report.gender }}']").attr("checked", true);
        // 결과데이터
        var category = ["체질량지수(BMI)", "복부비만도(WHR)", "기초대사량(kcal)"];
        var value = [{{ physical_report.bmi }}, {{ physical_report.whr }}, {{ physical_report.energy }}];
        var state = [ '{{ physical_report.bmi_state }}', '{{ physical_report.whr_state }}', '{{ physical_report.energy_state}}' ];
        var age = {{ physical_report.age }};
        var gender = {{ physical_report.gender }};
        makeBullet(category, value, state, age, gender);
    {% endif %}
}

function makeBullet(category, value, state, age, gender){
    $('#measure_date').html('최근 측정 날짜 : {{ physical_report.pub_date }}');
    for(var i = 0; i < 3; i++){
        var container = $("#empty-result-container").clone().show().attr("id","");
        container.find(".title").html(category[i])
        container.find(".text-info").html("<p>" + category[i] + ": " + value[i] + "로 " + state[i] + "입니다.</p>");
        container.find(".container").addClass("bullet-container").addClass("bullet-container" + (i + 1));
        $('#result-box1').append(container);
    }
    drawBulletBMI(value[0], "div.bullet-container1");
    drawBulletWHR(value[1], gender, age, "div.bullet-container2");
    drawBulletEnergy(value[2], gender, age, "div.bullet-container3");
}

$(document).ready(function(){
    funcInit();

    // 일일체크
    $('#physicalFrm').submit(function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url:"/physical",
            dataType: 'json',
            data: $('#physicalFrm').serialize(),
            beforeSend: function(){
                //유저 메세지 표시
            },
            success: function(response){
                // 결과데이터
                var category = ["체질량지수(BMI)", "복부비만도(WHR)", "기초대사량(kcal)"];
                var value = [response.bmi,  response.whr, response.energy];
                var state = [response.bmi_state, response.whr_state, response.energy_state];
                var age = response.age;
                var gender = response.gender;
                // 결과 표시
                makeBullet(category, value, state, age, gender);
            },
            error: function(request, status, error) {
               alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
        return false;
    });
    // 식단체크
    $('#foodFrm').submit(function(e){
        e.preventDefault();
        if( $('#fcount').val() == 0){
            alert("오늘 섭취한 음식을 추가해주세요!");
        }else{
            var table_base_info = "<tr id='info_ment' class='info_men'><td colspan='5' height='150' align='center'>음식을 검색 후 선택하시면 추가됩니다.</td></tr>";
            $.ajax({
                type: 'POST',
                url:"/diet",
                dataType: 'json',
                data: $('#foodFrm').serialize(),
                beforeSend: function(){
                    //유저 메세지 표시
                },
                success: function(data){
                    var nutrition = ["섭취량(g)", "에너지(kcal)", "탄수화물(g)", "단백질(g)", "지방(g)",
                    "당류(g)", "나트륨(mg)", "클레스테롤(mg)", "포화지방(g)", "트랜스지방(g)"];
                    if( data.energy == 0)
                    {
                        alert("상단에 일일점검을 최초 1회이상 하셔야 결과를 확인하실수 있습니다");
                        $("#sel_food_list").html(table_base_info);
                    }else{
                        var foodAry = new Array(data.energy, data.gram, data.kcal, data.carbohydrate, data.protein, data.fat
                        ,data.sugars, data.salt, data.cholesterol ,data.saturatedfat ,data.transfat);

                        var info = "<table class='tb-diet'>";
                        info += "<tr>";
                        for(var i=0; i < nutrition.length; i++){
                            info += "<th>" + nutrition[i];
                        }
                        info += "<tr>";
                        for(var i=1; i < foodAry.length; i++){
                            info += "<td>" + foodAry[i].toFixed(2);
                        }
                        var resultBox = $('#empty-result-container').clone().show().attr("id","");
                        resultBox.find('.title').html("<h4>{{ user.username }}님이 오늘 섭취하신 음식의 영양정보입니다.</h4>");
                        resultBox.find('.text-info').html(info);
                        resultBox.find('.container').addClass('circle-container').addClass('circle-container1');
                        $('#result-box2').append(resultBox);
                         var flag = false;
                        drawCircleChart(foodAry, "div.circle-container1", flag);
                    }
                },
                error: function(request, status, error) {
                   alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
            return false;
        }
    });
    // 기록보기
    $('#histFrm').submit(function(e){
        var gubun = $('#hist-gubun').val();
        var type = $('#hist-type').val();
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url:"/hist",
            dataType: 'json',
            data: $('#histFrm').serialize(),
            beforeSend: function(){
                //유저 메세지 표시
            },
            success: function(data){
                if(data.length == 0){
                    if(type == "1")
                        alert("기록이 없습니다. 먼저 일일체크 측정을 해보시기 바랍니다.");
                    if(type == "2")
                        alert("기록이 없습니다. 먼저 식단체크 측정을 해보시기 바랍니다.");
                }else{
                    var resultBox = $('#empty-result-container').clone().show().attr("id","");
                    resultBox.find('.title').remove();
                    resultBox.find('.text-info').remove();
                    resultBox.find('.container').addClass('hist-container').addClass('hist-container' + type);
                    if(type == 1){
                        $('#hist-box1').append(resultBox);
                        if(gubun == 1) {
                            drawCurveBMI(data, 'div.hist-container' + type);
                        }
                        else if(gubun == 2){
                            drawCurveWHR(data, 'div.hist-container' + type, data[data.length-1].gender);
                        }
                        else if(gubun == 3){
                            drawCurveEnergy(data, 'div.hist-container' + type, data[data.length-1].gender, data[data.length-1].age);
                        }
                    }
                    if(type == 2){
                        $('#hist-box2').append(resultBox);
                        drawCurveChart(data, 'div.hist-container' + type);
                    }
                }
            },
            error: function(request, status, error) {
               alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    });

    $('input[name=reset]').on('click',function(){
        var gubun = $(this).attr("id").replace('reset-btn','');
        if(gubun == 1){
            $('#physicalFrm input[type=number]').val('');
        }else if(gubun == 2){
            $("#sel_food_list").html(table_base_info);
            $("#fcount").val(0);
        }
    });

    $('input[name=measure]').on('click',function(){
        $('.result-wrap').show();
        $('.hist-wrap').hide();
        $('.result-box').hide();

        var gubun = $(this).attr("id").replace('measure-btn','');
        $('#result-box' + gubun).empty();
        $('#result-box' + gubun).show();


        if(gubun == 1){
            $('#physicalFrm').submit();
        }else{
            $('#foodFrm').submit();
        }
    });

    $('input[name=hist]').on('click',function(){
        $('.result-wrap').hide();
        $('.hist-wrap').show();

        var type = $(this).attr("id").replace('hist-btn','');
        $('#hist-box' + type).empty();
        $('#hist-box' + type).show();

        if(type == 1){
            $('.hist-menu').show();
        }else{
            $('.hist-menu').hide();
        }
        $('#hist-type').val(type);
        $('#histFrm').submit();
    });

    // 입력창 메뉴 이벤트
    $('#content-menu li').on('click',function(){
        var targetId = $(this).attr('id').replace('content','');
        $('#content-menu li').removeClass('on');
        $(this).addClass('on')
        if(targetId != 1) $('.hist-wrap').hide();
        $('.result-box, .hist-box, .contents-box').hide()
        $('#result-box' + targetId + ', #content-box'  + targetId + ', #hist-box'  + targetId).show();
    });
    // 결과창 메뉴 이벤트
    $('#hist-menu li').on('click',function(){
        var gubun = $(this).attr('id').replace('hist','');
        $('#hist-menu li').removeClass('on');
        $(this).addClass('on')

        $('#hist-gubun').val(gubun);
        $('#histFrm').submit();
    });
});
</script>
{% endblock head %}

{% block subtitle %}
{{ user.username }}님의 오늘은?
{% endblock subtitle %}

{% block result %}
<!-- 결과 콘텐츠 , 동적 추가를 위한 빈 틀 -->
<div id="empty-result-container" class="result-container" style="display:none">
    <div class="title"></div>
    <div class="text-info"></div>
    <div class="container">
        <div id="tooltip" class="hidden">
            <p class="text1"></p>
            <p class="text2"></p>
        </div>
    </div>
</div>

<!-- 측정결과 표시 -->
<div class="result-wrap">
    <!-- 일일체크 측정결과 표시 -->
    <div class="result-box" id="result-box1">
        <div class="pub_date" id="measure_date"></div>
    </div>
    <!-- 식단체크 측정결과 표시 -->
    <div class="result-box" id="result-box2"></div>
</div>

<!-- 기록결과 표시 -->
<div class="hist-wrap">
    <!-- 기록표시 구분 메뉴 -->
    <div class="hist-menu">
        <ul id="hist-menu" class="row_menu">
            <li id="hist1">체질량지수(BMI)</li>
            <li id="hist2">복부비만도(WHR)</li>
            <li id="hist3">기초대사량(kcal)</li>
        </ul>
    </div>
    <div class="hist-box" id="hist-box1"></div>
    <div class="hist-box" id="hist-box2"></div>
</div>
{% endblock result %}


{% block input %}
<!-- 입력창 -->
<div class="contents_wrap">
    <!-- 입력창 메뉴 -->
    <div class="contents_menu">
        <ul id="content-menu" class="row_menu">
            <li id="content1" class="on">일일체크</li>
            <li id="content2">식단체크</li>
        </ul>
    </div>
    <!-- 일일체크 -->
    <div class="contents-box" id="content-box1">
        <form action="" id="physicalFrm" name="physicalFrm" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-box">
            <table class="tb-base">
                <colgroup>
                    <col width="20%">
                    <col width="80%">
                </colgroup>
                <tr>
                    <th><label for="gender1">성별 : </label></th>
                    <td>
                        <input type="radio" id="gender1" name="gender" value="1" checked="checked">남
                        <input type="radio" id="gender2" name="gender" value="2">여
                    </td>
                </tr>
                <tr>
                    <th><label for="age">나이 : </label></th>
                    <td><input type="number" id="age" name="age" max="110" placeholder="나이를 입력해주세요" value="{{ physical_report.age }}" > 세</td>
                </tr>
                <tr>
                   <th><label for="stature">신장 : </label></th>
                    <td><input id="stature" name="stature" type="number" step="any" min="130.0" max="250.0" placeholder="키를 입력해주세요" value="{{ physical_report.stature }}"/> cm</td>
                </tr>
                <tr>
                    <th><label for="weight">체중 : </label></th>
                    <td><input id="weight" name="weight"  type="number" step="any" min="30.0" max="200.0" placeholder="몸무게를 입력해주세요." value="{{ physical_report.weight }}"/> kg</td>
                </tr>
                <tr>
                    <th><label for="waist">허리 둘레 : </label></th>
                    <td><input type="number" id="waist" name="waist" title="허리 둘레" size="3"  placeholder="허리 둘레를 입력해주세요.(1인치=2.5cm)" value="{{ physical_report.waist }}"> cm</td>
                </tr>
                <tr>
                    <th><label for="hip">엉덩이둘레 : </label></th>
                    <td><input type="number" id="hip" name="hip" title="엉덩이 둘레" size="3" placeholder="엉덩이 둘레를 입력해주세요.(1인치=2.5cm)" value="{{ physical_report.hip }}"> cm</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="btn_wrap">
                            <input type="button" id="reset-btn1" name="reset" class="reset-btn" value="초기화" />
                        </div>
                        <div class="btn_wrap">
                            <input type="button" id="measure-btn1" name="measure" class="measure-btn" value="측정" />
                        </div>
                        <div class="btn_wrap">
                            <input type="button" id="hist-btn1" name="hist" class="hist-btn" value="기록보기" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    </div>
    <!-- 식단체크 -->
    <div class="contents-box" id="content-box2">
        <form action="" id="foodFrm" name="foodFrm" method="post"  enctype="multipart/form-data">
            <input type="hidden" id="term2" name="term" value="7" />
            <input type="hidden" name="type" value="1" />
            {% csrf_token %}
            <div class="input-box">
                <input class="searchText" id="searchText" name="searchText" type="text" autocomplete="on" placeholder="음식을 검색해주세요" value=""/>
                <input type="hidden" id="fcount" name="fcount" value="0" />
                <table class="tb-food" id="tb-food">
                    <thead>
                        <tr>
                            <th>선택음식</th>
                            <th>1회 제공량</th>
                            <th>섭취량</th>
                            <th>분량</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody id="sel_food_list">
                        <tr id="info_ment" class="info_ment">
                            <td colspan="5" height="150" align="center">
                                음식을 검색 후 선택하시면 추가됩니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn_wrap">
                    <input type="button" id="reset-btn2" name="reset" class="reset-btn" value="초기화" />
                </div>
                <div class="btn_wrap">
                    <input type="button" id="measure-btn2" name="measure" class="measure-btn" value="측정" />
                </div>
                <div class="btn_wrap">
                    <input type="button" id="hist-btn2" name="hist" class="hist-btn" value="기록보기" />
                </div>
            </div>
        </form>
    </div>
    <!-- 기록보기 -->
    <form action="" id="histFrm" name="physicalFrm" method="post"  enctype="multipart/form-data">
        <input type="hidden" id="hist-term" name="term" value="7" />
        <input type="hidden" id="hist-type" name="type" value="1" />
        <input type="hidden" id="hist-gubun" name="gubun" value="1" />
    </form>
</div>
{% endblock input %}


