<script>
function physical_measure(){
     // 측정하기
    $.ajax({
        type: 'POST',
        url:"/day_measure",
        beforeSend: function(){
            //메세지 디비 저장 및 표시
            chatting_save('com', 'Medi-BOT', "건강상태 확인 중입니다..." );
        },
        success: function(response){
            if(response.result == 1){
                // 결과데이터
                var category = ["체질량지수(BMI)", "복부비만도(WHR)", "기초대사량(kcal)"];
                var value = [response.bmi,  response.whr, response.energy];
                var state = [response.bmi_state, response.whr_state, response.energy_state];
                var age = response.age;
                var gender = response.gender;
                // 결과 표시
                makeBullet(category, value, state, age, gender);

                chatting_save('com', 'Medi-BOT', "건강체크 완료했습니다." );
            }else if(response.result == 2){
                 chatting_save('com', 'Medi-BOT', '등록된 신체정보가 없네요. 먼저 신체정보를 등록해주세요!');
            }
        },
        error: function(request, status, error) {
           alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
    });
    return false;
}

$(document).ready(function(){
    $('.result-box').show();

    // 식단체크
    $('#foodFrm').submit(function(e){
        e.preventDefault();
        if( $('#fcount').val() == 0){
            alert("오늘 섭취한 음식을 추가해주세요!");
        }else{
            var table_base_info = "<tr id='info_ment' class='info_men'><td colspan='5' height='150' align='center'>음식을 검색 후 선택하시면 추가됩니다.</td></tr>";
            $.ajax({
                type: 'POST',
                url:"/diet",
                dataType: 'json',
                data: $('#foodFrm').serialize(),
                beforeSend: function(){
                    chatting_save('com', 'Medi-BOT', "영양소별 계산중입니다. 잠시만기다려주세요." );
                    $('#foodFrm').hide();
                },
                success: function(data){
                    var nutrition = ["섭취량(g)", "에너지(kcal)", "탄수화물(g)", "단백질(g)", "지방(g)",
                    "당류(g)", "나트륨(mg)", "클레스테롤(mg)", "포화지방(g)", "트랜스지방(g)"];
                    if( data.energy == 0)
                    {
                        alert("상단에 일일점검을 최초 1회이상 하셔야 결과를 확인하실수 있습니다");
                        $("#sel_food_list").html(table_base_info);
                    }else{
                        var foodAry = new Array(data.energy, data.gram, data.kcal, data.carbohydrate, data.protein, data.fat
                        ,data.sugars, data.salt, data.cholesterol ,data.saturatedfat ,data.transfat);

                        var info = "<table class='tb-diet'>";
                        info += "<tr>";
                        for(var i=0; i < nutrition.length; i++){
                            info += "<th>" + nutrition[i];
                        }
                        info += "<tr>";
                        for(var i=1; i < foodAry.length; i++){
                            info += "<td>" + foodAry[i].toFixed(2);
                        }
                        var resultBox = $('#empty-result-container').clone().show().attr("id","");
                        resultBox.find('.title').html("<h4>{{ user.username }}님이 오늘 섭취하신 음식의 영양정보입니다.</h4>");
                        resultBox.find('.text-info').html(info);
                        resultBox.find('.container').addClass('circle-container').addClass('circle-container1');
                        $('#result-box4').append(resultBox);
                        drawCircleChart(foodAry, "div.circle-container1", false);

                        chatting_save('com', 'Medi-BOT', "영양체크를 완료했습니다.." );
                    }
                },
                error: function(request, status, error) {
                   alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
            return false;
        }
    });

       // 기록보기
    $('#histFrm').submit(function(e){
        var gubun = $('#hist-gubun').val();
        var type = $('#hist-type').val();
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url:"/hist",
            dataType: 'json',
            data: $('#histFrm').serialize(),
            beforeSend: function(){
            },
            success: function(data){
                if(data.length == 0){
                    if(type == "1")
                        alert("기록이 없습니다. 먼저 일일체크 측정을 해보시기 바랍니다.");
                    if(type == "2")
                        alert("기록이 없습니다. 먼저 식단체크 측정을 해보시기 바랍니다.");
                }else{
                    var resultBox = $('#empty-result-container').clone().show().attr("id","");
                    resultBox.find('.title').remove();
                    resultBox.find('.text-info').remove();
                    resultBox.find('.container').addClass('hist-container').addClass('hist-container' + type);
                    if(type == 1){
                        $('#hist-box1').append(resultBox);
                        if(gubun == 1) {
                            drawCurveBMI(data, 'div.hist-container' + type);
                        }
                        else if(gubun == 2){
                            drawCurveWHR(data, 'div.hist-container' + type, data[data.length-1].gender);
                        }
                        else if(gubun == 3){
                            drawCurveEnergy(data, 'div.hist-container' + type, data[data.length-1].gender, data[data.length-1].age);
                        }
                    }
                    if(type == 2){
                        $('#hist-box2').append(resultBox);
                        drawCurveChart(data, 'div.hist-container' + type);
                    }
                }
            },
            error: function(request, status, error) {
               alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    });

});

/* 취소 버튼 이벤트*/
function diet_check_cancel(){
    $('#foodFrm').animate({display:none});
}

/* 그래프 호출 */
function makeBullet(category, value, state, age, gender){
    $('#result-box1, #result-box2, #result-box3').html('');
    //$('#measure_date').html('최근 측정 날짜 : {{ physical_report.pub_date }}');
    for(var i = 0; i < 3; i++){
        var container = $("#empty-result-container").clone().show().attr("id","");
        container.find(".title").html(category[i]);
        container.find(".measure-date").html('{{ measure_report.pub_date }}');
        container.find(".text-info").html("<p>" + category[i] + ": " + value[i] + "로 " + state[i] + "입니다.</p>");
        container.find(".container").addClass("bullet-container").addClass("bullet-container" + (i + 1));
        $('#result-box' + (i+1)).append(container);
    }
    drawBulletBMI(value[0], state[0], "div.bullet-container1");
    drawBulletWHR(value[1], state[1], gender, age, "div.bullet-container2");
    drawBulletEnergy(value[2], state[2], gender, age, "div.bullet-container3");
}
</script>
<div class="manage-header">
    <p class="title">대쉬보드</p>
    <p class="explain">체질량지수, 복부비만도, 기초대사량, 식단체크 결과가 표시됩니다.</p>
</div>
<div class="line"></div>

<!-- 결과 콘텐츠 , 동적 추가를 위한 빈 틀 -->
<div id="empty-result-container" class="result-container" style="display:none">
    <div class="header">
        <div class="title"></div>
        <div class="measure-date"></div>
    </div>
    <div class="container">
        <div id="arrow" class="hidden"></div>
    </div>
    <div class="text-info"></div>
</div>

<!-- 기록확인을 위한 데이터 공간 -->
<form action="" id="histFrm" name="histFrm" method="post" enctype="multipart/form-data">
    <input type="hidden" id="hist-term" name="term" value="7" />
    <input type="hidden" id="hist-type" name="type" value="1" />
    <input type="hidden" id="hist-gubun" name="gubun" value="1" />
</form>

<!-- 측정결과 표시 -->
<div class="result-wrap">
    <!-- 일일체크 측정결과 표시 -->
    <!--<div class="pub_date" id="measure_date"></div>-->
    <div class="result-box" id="result-box1"><div class="none-result">최근 '체질량지수'를 측정한 결과가 없습니다.</div></div>
    <div class="result-box" id="result-box2"><div class="none-result">최근 '복부비만도'를 측정한 결과가 없습니다.</div></div>
    <div class="result-box" id="result-box3"><div class="none-result">최근 '기초대사량'을 측정한 결과가 없습니다.</div></div>
    <!-- 식단체크 측정결과 표시 -->
    <div class="result-box" id="result-box4"><div class="none-result">최근 '섭취영양'을 측정한 결과가 없습니다.</div></div>
</div>

<!-- 기록결과 표시 -->
<div class="hist-wrap">
    <!-- 기록표시 구분 메뉴 -->
    <div class="hist-menu">
        <ul id="hist-menu" class="row_menu">
            <li id="hist1">체질량지수(BMI)</li>
            <li id="hist2">복부비만도(WHR)</li>
            <li id="hist3">기초대사량(kcal)</li>
        </ul>
    </div>
    <div class="hist-box" id="hist-box1"></div>
    <div class="hist-box" id="hist-box2"></div>
</div>

