{% extends 'medibot/base.html' %}

{% block title %} 메디봇 > 마이페이지 {% endblock title %}
{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'medibot/css/mypage.css' %}">
{% endblock head %}

{% block subtitle %}
마이페이지
{% endblock subtitle %}

{% block content %}
<!-- 구분선 -->

<div class="line"></div>
<div class="contents_wrap">
    <div class="content_box my-info">
        <div class="profile">
            <img src="{% static 'medibot/img/icon/ic_user.png' %}" width="150" height="150">
            <div class="username mt_10">{{ user.username }}</div>
        </div>
        <div class="sub-tit mb_10">
            회원정보
        </div>
        <div class="profile-detail pb_10">
            <div>
                <p class="user-item">마지막 로그인</p>
                <p class="user-val">2018-09-15</p>
            </div>
            <div>
                <p class="user-item">이메일</p>
                <p class="user-val">{{ user.email }}</p>
            </div>
            <div>
                <p class="user-item">휴대폰</p>
                <p class="user-val">{{ user.mobile }}</p>
            </div>
        </div>
    </div>

    <div class="content_box my-info">
         <div class="tit mb_10">
            상세정보
        </div>
        <div class="profile-detail pb_10">
            <div>
                <p class="user-item">나이</p>
                <p class="user-val">27세</p>
            </div>
            <div>
                <p class="user-item">성별</p>
                <p class="user-val">남성</p>
            </div>
            <div>
                <p class="user-item">신장</p>
                <p class="user-val-val">174.8cm</p>
            </div>
            <div>
                <p class="user-item">체중</p>
                <p class="user-val">66kg</p>
            </div>
            <div>
                <p class="user-item">허리둘레</p>
                <p class="user-val">72</p>
            </div>
            <div>
                <p class="user-item">엉덩이둘레</p>
                <p class="user-val">0</p>
            </div>
        </div>
    </div>

    <!-- 구분선 -->
    <div class="content_box my-info">
        <div class="sub-tit mb_10">
            환경설정
        </div>
        프로필 사진
        배경 색상
    </div>
</div>

<!-- 구분선 -->
<div class="line mt_30 mb_30 bgcolor_b"></div>
<div class="contents_wrap">
    <div class="content_box">
        <div class="sub-tit mb_10">일일점검</div>
        

    </div>
</div>

{% endblock content %}