{% load staticfiles %}
{% load staticfiles %}
<script>
function view_noraml(flag){
    if(flag==1){
        $('#btnUpdateMode').show();
        $('.tb-base .normal-text').show();
    }else if(flag==2){
        $('#btnUpdateMode').hide();
        $('.tb-base .normal-text').hide();
    }
}

function view_update(flag){
    if(flag == 1){
        $('#btnNormalMode').show();
        $('.tb-base .update-text').show();
    }else if(flag==2){
        $('#btnNormalMode').hide();
        $('.tb-base .update-text').hide();
    }

}

$(document).ready(function(){
    $('#btnUpdateMode').on('click',function(){
        view_noraml(2);
        view_update(1);
    });

    $('#btnNormalMode').on('click',function(){
        $('#physicalFrm').submit();
    });
    $('#physicalFrm').submit(function(){
        $.ajax({
            type: 'POST',
            url:"/physical_update",
            dataType: 'text',
            data: $('#physicalFrm').serialize(),
            success: function(response){
                alert("신체정보 수정을 완료했습니다");
                view_noraml(1);
                view_update(2);
                $("#physical-box").load("/physical_info");
            },
            error: function(request, status, error) {
               alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
        return false;
    });
})
</script>
<div class="logo">
    <div class="ic_menu mr_10">
        <img id="ic_menu"  src="{% static 'medibot/img/icon/ic_menu.png' %}" alt="menu" >
        <img id="ic_arrow" src="{% static 'medibot/img/icon/ic_arrow.png' %}" alt="menu">
    </div>
    <div class="tit">Medi-BOT</div>
</div>

<div class="user-box">
    <div class="user-info">
        <!--<div>-->
            <!--<img src="{% static 'medibot/img/icon/ic_user.png' %}" alt="userinfo">-->
        <!--</div>-->
        <div>
            <div class="ml_10"><b>{{ user.username }}님</b>, 환영합니다. </div>
            <div class="ml_10">로그인 : {{ request.user.last_login|date:"Y-m-d H:i" }}</div>
        </div>
    </div>
    <div class="btn-wrap">
        <input type="button" id="btn_logout" value="로그아웃" />
    </div>
</div>

<div class="physical-box" id="physical-box">
    {% medibot/physical_info.html %}
</div>