{% load staticfiles %}
<script>
$(document).ready(function(){
    $('#btnUpdateMode').on('click',function(){
        $(this).hide();
        $('#btnNormalMode').show();
        $('.tb-base .update-text').show();
        $('.tb-base .normal-text').hide();
    });

    $('#btnNormalMode').on('click',function(e){
        $('#physicalFrm').submit(function(){
            //e.preventDefault();
            $.ajax({
                type: 'POST',
                url:"/physical_update",
                dataType: 'json',
                data: $('#physicalFrm').serialize(),
                beforeSend: function(){
                    //유저 메세지 표시
                },
                success: function(response){
                    alert("신체정보 수정을 완료했습니다");
                    $('.tb-base .update-text').hide();
                    $('.tb-base .normal-text').show();
                    $(this).hide();
                    $('#btnUpdateMode').show();
                },
                error: function(request, status, error) {
                   alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
            return false;
        });
    });
})
</script>
<div class="logo">
    <div class="ic_menu mr_10">
        <img id="ic_menu"  src="{% static 'medibot/img/icon/ic_menu.png' %}" alt="menu" >
        <img id="ic_arrow" src="{% static 'medibot/img/icon/ic_arrow.png' %}" alt="menu">
    </div>
    <div class="tit">Medi-BOT</div>
</div>
<div class="user-box">
    <div class="user-info">
        <div>
            <img src="{% static 'medibot/img/icon/ic_user.png' %}" alt="userinfo">
        </div>
        <div>
            <div class="ml_10"><b>{{ user.username }}님</b>, 환영합니다. </div>
            <div class="ml_10">로그인 : {{ request.user.update_at }}</div>
        </div>
    </div>
    <div class="btn-wrap">
        <input type="button" id="btn_logout" value="로그아웃" />
    </div>
</div>

<div class="physical-box">
    <div class="physical-box-header">
        <div class="tit-wrap">
            <p class="tit">신체정보</p>
            <p class="update">수정일 : {{ physical_report.pub_date|date:"Y-m-d" }}</p>
        </div>
        <div class="btn_wrap">
            <input type="button" id="btnUpdateMode" name="btnUpdateMode" class="btn-normal-mode" value="수정모드" />
            <input type="button" id="btnNormalMode" name="btnNormalMode" class="btn-physical-up" value="정보수정" />
        </div>
    </div>
    <form action="" id="physicalFrm" name="physicalFrm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="tb-base">
            <colgroup>
                <col width="35%">
                <col width="65%">
            </colgroup>
            <tr>
                <th><label for="gender1">성별 : </label></th>
                <td class="update-text">
                    <input type="radio" id="gender1" name="gender" value="1" checked="checked">남
                    <input type="radio" id="gender2" name="gender" value="2">여
                </td>
                <td class="normal-text">
                    {% if physical_report.gender == 1 %}
                        남
                    {% else %}
                        여
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th><label for="age">나이 : </label></th>
                <td class="update-text"><input id="age" name="age" max="110" type="number" placeholder="나이" value="{{ physical_report.age }}" > 세</td>
                <td class="normal-text">{{ physical_report.age }} 세</td>
            </tr>
            <tr>
                <th><label for="stature">신장 : </label></th>
                <td class="update-text"><input id="stature" name="stature" type="number" step="any" min="130.0" max="250.0" placeholder="키" value="{{ physical_report.stature }}"/> cm</td>
                <td class="normal-text">{{ physical_report.stature }} cm</td>
            </tr>
            <tr>
                <th><label for="weight">체중 : </label></th>
                <td class="update-text"><input id="weight" name="weight"  type="number" step="any" min="30.0" max="200.0" placeholder="몸무게" value="{{ physical_report.weight }}"/> kg</td>
                <td class="normal-text">{{ physical_report.weight }} kg</td>
            </tr>
            <tr>
                <th><label for="waist">허리 둘레 : </label></th>
                <td class="update-text"><input type="number" id="waist" name="waist" title="허리 둘레" size="3"  placeholder="허리 둘레(1인치=2.5cm)" value="{{ physical_report.waist }}"> cm</td>
                <td class="normal-text">{{ physical_report.waist }} cm</td>
            </tr>
            <tr>
                <th><label for="hip">엉덩이둘레 : </label></th>
                <td class="update-text"><input type="number" id="hip" name="hip" title="엉덩이 둘레" size="3" placeholder="엉덩이 둘레(1인치=2.5cm)" value="{{ physical_report.hip }}"> cm</td>
                <td class="normal-text">{{ physical_report.hip }} cm</td>
            </tr>
        </table>
    </form>
</div>